<div>
  <div class="div30">logo</div>
  <div class="frase">slogan</div>
  <app-appmenu></app-appmenu>
</div>
<br>
<div class="body">body asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd ody asdfasdf asdfasd 
asdf 
</div>
<br>
<div>
  <div class="div30">copy</div>
  <div class="div70">redes sociales</div>
</div>
<div>
  <input type="submit" id="btnmensaje" value="mostrar mensaje" class="btn-primary">
</div>